/* Propriétés générales */

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

/* ---------- Propriétés générales Header ---------- */

header {
	background-color: aqua;
}

.head-container {
	width: 70%;
	max-width: none;
	margin: 0 auto;
}

.img-logo {
	width: 200px;
}

.flex-colonne {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

nav li {
	display: inline-block;
	align-content: start;
	padding-left: 10px;
	padding-right: 10px;
}

nav a {
	padding: 10px;
	text-decoration: none;
	color: black;
}

.link-commande {
	background-color: blueviolet;
	border-radius: 5px;
}

.link-commande:hover {
	background-color: blueviolet;
	box-shadow: 2px 4px 10px 4px #E3CFDE;
	border-radius: 5%;
}

nav a:hover {
	display: inline-block;
	text-decoration: none;
	padding: 10px 10px;
	border: 1px solid;
	color: aliceblue;
	background-color: #693D65;
	box-shadow: 2px 4px 10px 4px #E3CFDE;
}

/*---------- Propriétés Média Screen Header ----------*/

@media screen and (min-width:960px) {
	.show-on-mobile {
		display: none !important;
	}
}

@media screen and (max-width:960px) {
	.hide-on-mobile {
		display: none !important;
	}

	.show-on-mobile {
		display: block !important;
	}

	.head-container {
		width: 100%;
		margin: 0 auto;
	}

	.img-logo {
		width: 125px;
	}

	nav {
		margin: 10px;
	}
}

/* --------- Propriétés général footer ----------*/

.footer-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	margin: 0 auto;
}

address a {
	background-color: black;
	color: antiquewhite;
	padding: 10px;
	text-decoration: none;
}

#footer-1 {
	background-color: darkgrey;
}

.footer-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	margin: 0 auto;
}

#footer-2 {
	background-color: #6df100;
}

/* ---------- Propriété média screen footer ----------*/

@media screen and (max-width:960px) {
	.footer-1 {
		flex-wrap: wrap;
	}

	#footer-1 {
		padding-bottom: 5%;
	}

}

/* ---------- Proprietés géneral main ----------*/

main {
	background-color: aqua;
}

/* ----------- Propriété page d'index ----------*/

body {
	background-color: aqua;
}

#nos-burgers {
	width: 75%;
	margin: 0 auto;
	padding-bottom: 5%;
}

.col-25 {
	width: 25%;
}

.col-100 {
	display: flex;
	justify-content: center;
	padding: 1%;
}

.card {
	text-align: center;
	padding: none;
	margin: none;
	border: none;
}

.card a {
	background-color: black;
	color: antiquewhite;
	padding: 10px;
	text-decoration: none;
}

#t-shirt {
	background-color: aquamarine;
	padding-bottom: 15%;
	line-height: 1.5rem;
}

.t-shirt-burger {
	width: 75%;
	margin: 0 auto;
}

.t-shirt-burger a {
	background-color: black;
	color: antiquewhite;
	padding: 10px;
	text-decoration: none;
}

figure {
	float: right;
}

/* ---------- Propriété media screen main ---------- */

@media screen and (max-width:960px) {
	#nos-burgers {
		width: 85%;
		margin: 0 auto;
	}

	.col-50 {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	.col-25 {
		width: 50%;
		margin-bottom: 20px;
	}

	.col-100 {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}
}

/* ---------- Propriété âge reservation ----------*/

#formulaire {
	background-color: aqua;
}

.container-formulaire {
	width: 75%;
	margin: 0 auto;
}

fieldset {
	display: grid;
	flex-wrap: wrap;
	padding: 10px;
	margin: 10px;
	border: 3px solid gray;
	border-radius: 5px;
	line-height: 2rem;
}

fieldset a {
	background-color: black;
	color: antiquewhite;
	padding: 10px;
	text-decoration: none;
	margin: 20px;
}

.confirmation {
	width: 75%;
	margin: 0 auto;

	margin-bottom: 25%;
}

.confirmation a {
	background-color: black;
	color: antiquewhite;
	padding: 10px;
	text-decoration: none;
	border: 3px solid wheat;

}

.confirmation a:hover {
	background-color: black;
	color: antiquewhite;
	padding: 10px;
	text-decoration: none;
	border: 3px solid rgb(184, 120, 1);
	background-color: rgb(156, 122, 122);
	color: antiquewhite;
	padding: 10px;
	text-decoration: none;
	box-shadow: 2px 4px 10px 4px #E3CFDE;
}

#confirmation {
	margin-bottom: 60%;
}

@media screen and (max-width:570px) {
	.confirmation a {
		display: block;
		padding: 1px;
	}

	.confirmation a:hover {
		background-color: black;
		color: antiquewhite;
		padding: 1px;
		text-decoration: none;
		border: 3px solid rgb(184, 120, 1);
		background-color: rgb(156, 122, 122);
		color: antiquewhite;
		text-decoration: none;
		box-shadow: 2px 4px 10px 4px #E3CFDE;
	}
}

/* ---------- Page restaurant ---------- */

.img1 {grid-area: img1;}
.img2 {grid-area: img2;}
.img3 {grid-area: img3;}
.img4 {grid-area: img4;}
.img5 {	grid-area: img5;}
.img6 {	grid-area: img6;}

.container-restaurant {
	width: 75%;
	margin: 0 auto;
}

.mozaique {
	display: grid;
	margin: 0 auto;
	width: 100%;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"img1 img2"
		"img1 img3";
}

.mozaique-1 {
	display: grid;
	margin: 0 auto;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"img5 img4"
		"img6 img4";
}

@media screen and (max-width:570px) {


	.mozaique {
		display: grid;
		margin: 0 auto;
		width: 100%;
		border-bottom: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			"img1 img1"
			"img2 img3";
	}

	.mozaique-1 {
		display: grid;
		margin: 0 auto;
		width: 100%;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			"img4 img4"
			"img5 img6";
	}
}

@media screen and (min-width:1650px) {
	
	.mozaique {
		display: grid;
		margin: 0 auto;
		width: 100%;
		border-bottom: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			"img1 img2"
			"img3 img5";
	}

	.mozaique-1 {
		display: grid;
		margin: 0 auto;
		width: 100%;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			"img6 img4";
	}
}